body{
    background-image: url(https://images.pexels.com/photos/11071498/pexels-photo-11071498.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;

}

header{
    text-align: right;
}

.about{
    text-align: right;
    color: red;
    font-weight: bold;
}

p{
    color: #AA4139;
    text-align: center;
    border: 5px solid rgba(255, 176, 170);
    cursor: pointer;
}
p{
    line-height: 50px;
    font-style: italic;
    font-weight: bold;
    font-family: 'Poiret',cursive;
}

li {

list-style: none;
display: inline-block;
}
