body{
    background-color: rgb(20, 212, 212);
}


div{
    background-color: rgb(235, 245, 245);
    color: black;
    width: 730px;
    text-align: center;
    border: 5px dashed black;
  margin: 0 auto;
}

 ul{
   
    text-transform: none;
    
 }

 li{
    list-style: none;
 }

 h1{
    border-bottom: 5px dashed black;
 }

 span{
    font-weight: bold;
    font-size: 25px;
 }